<div class="card">
  <div class="card-block">
    <h4 class="card-title">AWS Cognito</h4>
    <h6 class="card-subtitle mb-2 text-muted">Angular2/AWS Cognito login solution</h6>
    <p class="card-text">Amazon Cognito lets you easily add user sign-up and sign-in to your mobile and web apps. With Amazon Cognito, you also have the options to authenticate users through social identity providers such as Facebook, Twitter, or Amazon, with SAML identity solutions, or by using your own identity system. In addition, Amazon Cognito enables you to save data locally on users devices, allowing your applications to work even when the devices are offline. You can then synchronize data across users devices so that their app experience remains consistent regardless of the device they use.</p>
    <a href="https://aws.amazon.com/cognito/" class="card-link">Reference</a>
    <!--a href="#" class="card-link">Another link</a-->
  </div>
</div>